@use 'variables' as *;
h1, h2, h3{
     font-family: $fontHeading;
     
}

p{
    font-family: $fontParagraph;
}
*{
    margin: 0;
    padding: 0;
}
body{
    // background-color: $bodyBackground-color;
    display: block;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 200px;
    margin-top: 200px;
}
.main{
	background-color: $main-background-color;
	// border: 50px solid $tableBorder;
	border-radius: 20px;
	box-shadow: 0 0 5px 1px #000 inset;
	z-index: 2;
    h1, h2, h3{
        background-color: $headline-background-color;
    }
    p{
        padding: 20px;
    }
}
.explanation h3, .benefits h3{
    text-align: center;
    margin: 1em;
    margin-left: -80px;
    border: 1px solid black;
    border-right: 25px double black ;
    padding: 5px;
    border-radius: 50px 100px 100px 50px;
    width: 800px;
    
}
.participation h3, .requirements h3{
    text-align: center;
    margin: 1em;
    margin-left: 160px;
    border: 1px solid black;
    border-left: 25px double black ;
    padding: 5px;
    border-radius: 100px 50px 50px 100px;
    width: 800px;
   
}