@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
$main-background-color: #257E46;
<<<<<<< HEAD
$tableBorder: #5c3a15;
$bodyBackground-color: #000;
$fontHeading: 'Monoton', cursive;
$fontParagraph: Covered By Your Grace', cursive;
=======
$headline-color: white;

>>>>>>> b784451fd16eb096e35560b2612bc4b8017961cb
