@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$main-background-color: #257E46;
$main-border-color: #5C3A15;
$headline-color: #1B1B17;
$headline-background-color: #CCC78F;
$headline-color: white;
$fontHeading: 'Goblin One', cursive;
$fontParagraph: 'Roboto', sans-serif;

