@import url("https://fonts.googleapis.com/css2?family=Goblin+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goblin+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
h1, h2, h3 {
  font-family: "Goblin One", cursive;
}

p {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: block;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 200px;
  margin-top: 200px;
}

.explanation h3, .benefits h3 {
  text-align: center;
  margin: 1em;
  margin-left: -80px;
  border: 1px solid black;
  border-right: 25px double black;
  padding: 5px;
  border-radius: 50px 100px 100px 50px;
  width: 800px;
}

.participation h3, .requirements h3 {
  text-align: center;
  margin: 1em;
  margin-left: 160px;
  border: 1px solid black;
  border-left: 25px double black;
  padding: 5px;
  border-radius: 100px 50px 50px 100px;
  width: 800px;
}

.supporting {
  background-image: url("media/pooltablereal.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  margin: 0 auto;
  max-width: 784px;
  z-index: -4;
  height: 1461px;
}

h1,
h2,
h3 {
  font-family: "Goblin One", cursive;
}

p {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("media/backgroundphoto.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 0 auto;
  max-width: 960px;
}

.main h1,
.main h2,
.main h3 {
  background-color: #CCC78F;
}

.main p {
  padding: 20px;
}

.explanation, .benefits, .participation, .requirements {
  position: absolute;
  max-width: 784px;
}

.supporting p {
  padding: 5px 90px;
  color: white;
}

.explanation {
  margin-top: 20px;
}

.participation {
  margin-top: 350px;
}

.benefits {
  margin-top: 700px;
}

.requirements {
  margin-top: 850px;
}

.explanation h3 {
  margin-top: 90px;
  text-align: center;
  margin-bottom: 1em;
  margin-left: -100px;
  border: 1px solid black;
  border-right: 25px double black;
  padding: 5px;
  border-radius: 50px 100px 100px 50px;
  width: 700px;
}

.benefits h3 {
  text-align: center;
  margin: 1em;
  margin-left: -80px;
  border: 1px solid black;
  border-right: 25px double black;
  padding: 5px;
  border-radius: 50px 100px 100px 50px;
  width: 700px;
}

.requirements {
  margin-bottom: -150px;
}

.participation h3,
.requirements h3 {
  text-align: center;
  margin: 1em;
  margin-left: 160px;
  border: 1px solid black;
  border-left: 25px double black;
  padding: 5px;
  border-radius: 100px 50px 50px 100px;
  width: 700px;
}

.intro {
  background-color: whitesmoke;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 3fr));
}

.intro h1 {
  font-size: 40px;
}

/* .header, h1 {
    text-align: center;
    background-color: transparent;
    padding-top: 2em;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 200px solid #D2B48C;
    border-radius: 100em;
  } */
.wrapper {
  text-align: center;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 3fr));
  padding: 2em;
  border-radius: 3em;
}

.design-selection {
  width: 250px;
  height: 250px;
  background: orange;
  border-radius: 50%;
}

.design-selection ul {
  background-color: white;
  border-radius: 50%;
  width: 175px;
  height: 175px;
  margin: 0 auto;
}

.design-archives {
  width: 250px;
  height: 250px;
  background: yellow;
  border-radius: 50%;
}

.design-archives ul {
  background-color: white;
  border-radius: 50%;
  width: 175px;
  height: 175px;
  margin: 0 auto;
}

.zen-resources {
  width: 250px;
  height: 250px;
  background: maroon;
  border-radius: 50%;
  list-style: none;
}

.zen-resources ul {
  background-color: white;
  border-radius: 50%;
  width: 175px;
  height: 175px;
  margin: 0 auto;
}

.wrapper a:link {
  color: black;
}

.wrapper a:hover {
  color: grey;
}

ul {
  list-style: none;
  font-size: 13px;
}

.wrapper,
h3 {
  padding-top: 3em;
  font-size: 15px;
}

/*# sourceMappingURL=styles.css.map */
